<!DOCTYPE html>
<html>
  <head>
    <title>FindFoodAval</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <div class="container">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
